body {
    background-color: white;
    font-size: large;
}
img {
    max-width: 64px;
    max-height: 64px;
    min-width: 64px;
    min-height: 64px;
}
#okvir {
    display: grid;
    grid-template-columns: 12.5% 12.5% 25% 50%;
    grid-template-rows: 25% 60% 15%;
    background-color: aquamarine;
    }
#logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#meni {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}
#meni li {
    display: inline-block;
    list-style: none;
}

#predmeti {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
}
#predmeti li {
    list-style: none;    
}
#sedmice {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#sedmice li {
    list-style: none;
    text-align: left;
}
#studenti {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}
#footer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 2em;
    text-align: center;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    #okvir {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.5fr 1fr 0.2fr;
    }
    #logo {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #meni {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 0.8em;
    }
    #predmeti {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #sedmice {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #studenti {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    #footer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        font-size: 60%;
    }
    
}